/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

.str { color: #000 }  /* string content */
.kwd { color: #6262C5 }  /* a keyword */
.com { color: #F50000 }  /* a comment */
.typ { color: #F91DF9 }  /* a type name */
.lit { color: #00D8D8 }  /* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo { color: #000  }/*#660*/
.tag { color: #008 }  /* a markup tag name */
.atn { color: #606 }  /* a markup attribute name */
.atv { color: #080 }  /* a markup attribute value */
.dec, .var { color: #606 }  /* a declaration; a variable name */
.fun { color: red }  /* a function name */


/* Put a border around prettyprinted code snippets. */
pre {
    padding: 2px;
    border: 5px solid #666;
    border-radius: 2ex;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    padding: 5px;
} /* IE indents via margin-left */
/* Alternate shading for lines */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
Li.L8,
li.L9 { background: #f7f7f7 }
