<!DOCTYPE html>
<html lang="zh-CN">
<head>
　　<meta charset="utf-8" />
　　<title>{{ page.title }}</title>
    <script src="/ref/jquery-2.1.3.min.js"></script>
    <link href="/ref/main.css" rel="stylesheet"/>
    <link href="/ref/prettify.css" rel="stylesheet"/>
    <script src="/ref/prettify.js"></script>
</head>
<body>
    <header>
        <a id='home' href="http://zhangjg.github.io">
            <img border="0" src="/ref/home.png" >
        </a>
        <nav id="head">
        {% for tag in page.tags %}
            <div class="tag"><a href="/#{{tag}}">{{tag}}</a></div>
        {% endfor %}
        </nav>
    </header>
    <h1 class="page-title">{{page.title}}</h1>
    <div style="align-self: center;">
        <span style="padding-right:5ex;">发表时间：{{ page.date| date:"%Y-%m-%d" }}</span>
        <span style="padding-right:5ex;">作者:{{page.author}}</span>
        <span> 约{{ page.content | number_of_words }}字</span>
    </div>
    <div id="content">
        {{ content}}
    </div>
    <footer>
        欢迎<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=ZQ8MCwIQCh8NBAsCJRQUSwYKCA" style="text-decoration:none;">指正</a>！<br>
    {% if page.tags.size == 0 %}
    返回<a href="/">主页</a>!
    {% else %}
        {% for tag in page.tags %}
            {% if forloop.first %}
        查看更多的关于
            {% endif %}
        <a href="/#{{tag}}">{{tag}}</a>
            {% if forloop.last %}
        的内容.
            {% else %}
        ,
            {% endif %}
        {% endfor %}
    {% endif %}
    </footer>
    <script>
       var t=$("pre>code");
       $(function(){
            t.addClass("prettyprint linenums");
            prettyPrint();
       });
    </script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
  </body>
</html>
