<!DOCTYPE html>
<html lang="zh-CN">
<head>
　　<meta charset="utf-8" />
　　<title>{{ page.title }}</title>
    <link href="/ref/main.css" rel="stylesheet"/>
    <link href="/ref/prettify.css" rel="stylesheet"/>
    <script src="/ref/prettify.js"></script>
    <style type="text/css">
        .nolink{
            text-decoration:none;
        }
    </style>
</head>
<body>
    <header>
        <a id='home' href="/">
            <img border="0" src="/ref/home.png" >
        </a>
        <nav id="head">
        {% for tag in page.tags %}
            <div class="tag"><a href="/#{{tag}}" class="nolink">{{tag}}</a></div>
        {% endfor %}
        </nav>
    </header>
    <h1 class="page-title">{{page.title}}</h1>
    <div style="align-self: center;">
        <span style="padding-right:5ex;">发表时间：{{ page.date| date:"%Y-%m-%d" }}</span>
        <span style="padding-right:5ex;">作者:{{page.author}}</span>
        {%assign about_size = page.content | size  %}
        {%assign about_size = about_size - about_size %100 %}
        <span> 约 <script > var size={{ about_size}}; size -= size%100; document.write(size);</script>字</span>
    </div>
    <div id="content">
        {{ content}}
    </div>
    <footer>
        欢迎<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=ZQ8MCwIQCh8NBAsCJRQUSwYKCA" class="nolink">指正</a>！<br>
    {% if page.tags.size == 0 %}
    返回<a href="/">主页</a>!
    {% else %}
        {% for tag in page.tags %}
            {% if forloop.first %}
        查看更多的关于
            {% endif %}
        <a href="/#{{tag}}">{{tag}}</a>
            {% if forloop.last %}
        的内容.
            {% else %}
        ,
            {% endif %}
        {% endfor %}
    {% endif %}
    </footer>
    <script>
        var codes = document.querySelectorAll("pre>code");
        for(var i=0;i<codes.length;++i){
            var code = codes[i];
            code.setAttribute("class","prettyprint linenums");
            prettyPrint();
        }
    </script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
  </body>
</html>
