<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link href="/ref/main.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a id='home' href="/">
            <img border="0" src="/ref/home.png" >
        </a>
        <nav id="head">
        {% for tag in page.tags %}
            <div class="tag"><a href="/#{{tag}}">{{tag}}</a></div>
        {% endfor %}
        </nav>
    </header>
    <h1 class="page-title">{{page.title}}</h1>
    <div id="content" style="align-self:center;">
        {{ content}}
    </div>
    <footer>
        欢迎<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=ZQ8MCwIQCh8NBAsCJRQUSwYKCA" style="text-decoration:none;">指正</a>！<br>
        返回<a href="/">主页</a>!
    </footer>
  </body>
</html>
